@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
* {
	font-family: HackingTrashed;
}

.copy p {
  margin:auto;
  color: grey;
  font-family: Comfortaa;
}
.centrar {
  margin:auto;
}

.principal {
  padding-left:70px;
  padding-right:70px;
}



body {
    background-color:black;
    margin:0;
    background-image: url(images/sheila.jpg);
    background-attachment: fixed;
}
.no-padding {
  padding-right: 0;
  padding-left:0;
}
.container {
  padding:20px;
}



/* ------NAV------ */
.nav-tabs{

}
.navbar-light .navbar-nav .nav-link {
  color: #74fdb5;
  font-size: 14px;
  text-align: right;
  margin-bottom: 10px;
  border-top: 0px;
  border-bottom: 0px;

}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active
{
  color:#ffffff;
  font-weight: bold;
}
.carousel img {
    max-height: 220px;
    max-width: 1366px;
    margin: 0 auto;
}
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #f1fdf8;
  font-weight: bold;
}





/* N A V */
a {
  color: #74fdb5;
}
a:hover {
  color: #f1fdf8;
}


.menu {
    margin-left: 30px;
    margin-bottom: -10px;
}

.menu ul{
    font-family: 'Lato', cursive;
    list-style: none;
    text-align: center;  
}

.menu dropdown-item a {
	color:skyblue}



.menu li{
    display: inline;
    margin: 0  0px;  
  }

.menu a{
   
    font-family: 'Lato';
    font-size: 18px;
    text-decoration: none;
    color: skyblue;
}



h3 {
  color: #74fdb5;
    font-size-adjust: justify

}

p{
	font-size: 15px;
	font-family: Roboto;
  color: #d3fded;
}


hr {
    border: 1;
    height: 0;
    background-color: #00b882;

}

.frase a{
	color: skyblue;
	text-align: center;
	font-weight: lighter;
	font-size: 25px;
	font-family: Lato;
}





.foot {
  padding-left:10px;
	font-size: 15px;
	font-family: LATO;
    text-align: justify;
}

.titulo {
	font-size: 25px;
  padding-left:10px;
	color: #74fdb5;
}

.degradado {
  padding-left: 70px;
  padding-right: 70px;
}